input,
select,
textarea {
    border: 1px solid #ddd;
}
textarea {
    width:100%;
}
a.button,
button,
input[type="submit"],
[type="file"] {
    margin:20px 2.1% 0px 0px;
    padding:1% 4%;
    cursor:pointer;
    background-color:#bbb;
    color:#006;
    font-size: 1em;
}
a.button:hover,
button:hover,
input[type="submit"]:hover {
    color:#f00;
    background-color:#ddd;
}
.textbox { width:100%;
    margin-bottom:5px;
    display:block;
}
input.textbox {
    padding: 1% 0px;
}

.required:after {
    content: " *";
    color: #f00;
}
