/*
screen_styles.css
Project: Basic HTML Site
Author: Dan White
*/

/* Table of Contents 
1^ Site-wide General Styles
2^ Mobile Responsive Grid/Column Definitions
3^ Header/Navigation Styles
4^ Footer Styles
5^ Medium Desktop Styles
6^ Medium Desktop Responsive Grid/Column Definitions
7^ Large Desktop Styles
*/


/* Temp Styles */
header h1,
footer p#copyright {
    line-height: 2em;
}

#banner-image {
    margin-bottom:1.25em;
    width:100%;
}

@font-face {
    font-family: 'proximanova';
    src: url('../fonts/proximanova/proximanova.eot');
    src: url('../fonts/proximanova/proximanova.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/proximanova.woff') format('woff'),
    url('../fonts/proximanova/proximanova.ttf') format('truetype'),
    url('../fonts/proximanova/proximanova.svg#proximanova') format('svg');
}

@font-face {
    font-family: 'istokweb';
    src: url('../fonts/istokweb/istokweb.eot');
    src: url('../fonts/istokweb/istokweb.eot?#iefix') format('embedded-opentype'),
    url('../fonts/istokweb/istokweb.woff') format('woff'),
    url('../fonts/istokweb/istokweb.ttf') format('truetype'),
    url('../fonts/istokweb/istokweb.svg#istokweb') format('svg');
}
@font-face {
    font-family: 'lucida_console';
    src: url('../fonts/lucon/lucon.eot');
    src: url('../fonts/lucon/lucon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lucon/lucon.woff') format('woff'),
    url('../fonts/lucon/lucon.ttf') format('truetype'),
    url('../fonts/lucon/lucon.svg#lucida_consoleregular') format('svg');
}
/* Tablet/Large Phone Styles */

/* 1^ Site-wide General Styles */

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, table, section, summary {
    display: block;
}
[hidden] {
    display: none;
}
* {margin: 0;
    padding: 0;
    border: none;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
html { 
	height:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: inherit;    /* Firefox, other Gecko */
    box-sizing: inherit;
}

body {text-align:left;
    width:100%;
    height:100%;
    /*background:url("../img/background.png") rgba(255,255,255,1) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    font-size:100%;
    line-height:1.5em;
	/*font-family:helvetica, sans-serif;*/
    font-family:'istokweb', sans-serif;
}

a {
    text-decoration:none;
    color: rgba(0,0,102,1);
}
a:hover,
a:active,
.active {
	color:rgba(255,0,0,1); /* .active class used by toggle.js */
}

li {
    list-style-position:inside;
}

.main-headline {
	line-height:2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-family:'proximanova', sans-serif;
    font-weight:normal;
}

img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.left {
    float:left;
}
.right {
    float:right;
}
.align_left {
    float:left;
    margin-right:2.127%; /* 20px/940px */
}
.align_right {
    float:right;
    margin-left:2.127%; /* 20px/940px */
}
.required,
.selected {
    color:#f00;
}
.sm-dev { /* class assigned to elements not to display on small devices */
	display:none;
}

.none {
	display:none;
}

/* 2^ Mobile Responsive Grid/Column Definitions */
.grid-container {
	width:auto;
    /*margin: 0px auto -80px auto; *//* negative bottom margin MUST match footer height and .footerpush height for sticky footer*/
    margin-bottom:-5em;/* negative bottom margin MUST match footer height and .footerpush height for sticky footer*/
    min-height: 100%;
    position: relative;
    overflow:hidden;
}
.gridrow {
    padding:0px 1.042%; /* 10px/960px */
    margin: 0px auto;
    clear: both;
}

/* Looks for a child element that starts with "col" 
 * be careful of a conflict with this when naming custom elements */
.gridrow  :last-child[class^="col"] { 
	margin: 0 0 1.25em 0;
}

.col1, 
.col2, 
.col3, 
.col4, 
.col5, 
.col6, 
.col7, 
.col8, 
.col9, 
.col10, 
.col11{
	float: none;
    width: 100%;
	margin: 0 2.127% 0 0; /* 20px/940px */
}
.col12 { width: 100%; margin: 0; } /* 940px/960px */
.col-full {width:100%; margin:0; clear:both;} /* Spans entire page width */

/* 3^ Header/Navigation Styles */

header {
    width:100%;
    min-height:5em;
    background-color:rgba(255,255,255,1);
}

header a{
    color:rgba(0,0,0,1);
}
#topnav a{
    color:rgba(255,255,255,1);
}

#menu-bar .gridrow {
    padding:0;
}
#menu-bar {
    height:3em;
    background:rgba(0,0,0,1);
}
.menu-title { /* toggle for responsive menu */
	display:block !important;
}
nav#topnav {
    width: 100%;
	float:left;
	margin:0px;
    background:rgba(0,0,0,1);
}
nav#topnav a {
	line-height:3em;
	display:block;
}
nav#topnav a:last-child {
	border-bottom:none;
}
#topnav a:hover {
    color:rgba(255,0,0,1);
}

nav#topnav ul li {
    list-style-type:none;
    float:none;
    display:block;
    position:relative;
	margin-right:2.127%; /* 20px/940px */
    width: 100%;
    padding:0px 2.127%;
}

nav#topnav li.has-submenu > a:after {
	content: '+';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	font-size: 1.5em;
    padding:0 2.127%; /* 20px/940px */
}
nav#topnav li.has-submenu  > a.active:after {
	content: "-";
}
nav#topnav ul.sub-menu {
    margin-left:2.083%; /* 20px/960px */
	display:none;
}

nav#topnav ul.sub-menu li {
    float:none;
}

.menu-title:before { /* text for responsive nav toggle */
    content: "Menu";
    color:rgba(255,255,255,1);
    float:right;
    margin-right: 2.75em;
}
.menu-title { /* toggle div for responsive nav */
    display:block;
    line-height:3em;
    position:relative;
    float: right;
    cursor:pointer;
    overflow: hidden;
    background: url("../../img/hamburger.png") no-repeat 95% 50%;  /* fallback for older browsers */
    background: linear-gradient(transparent, transparent),url("../../img/hamburger.svg") no-repeat 97.916% 50%;
}

/* 4^ Footer Styles */

footer {
    position:relative;
    overflow:hidden;
    height:5em; /* MUST match negative margin in .grid-container, subtract any pixels added from borders*/
    clear:both;
    background-color:rgba(255,255,255,1);
    color:rgba(0,0,0,1);
    border-top:1px solid rgba(0,0,0,.5);
}

#footerpush { 
	height:5em;/* MUST Match negative margin in .grid-container for sticky footer*/
    clear:both;
}

nav#footer-nav ul li {
    list-style-type:none;
    float:left;
    display:block;
    margin-right:2.127%; /* 20px/940px */
}

/*  5^ Medium Desktop Styles */
/* 48em = 768px/16px */
@media all and (min-width:48em){
	.gridrow {
		max-width: 60em; /* 960px/16px */
	}

    #menu-bar .gridrow {
        padding:0px 1.042%;
    }
	#topnav {
		display:block;  
	}
	
	nav#topnav ul li {
		width:auto;
		float:left;
        padding:0px;
	}
	
	nav#topnav li.has-submenu > a:after {
		display:none;
	}
	
	nav#topnav ul.sub-menu {
		display:none;  
	}
	.menu-title { /* toggle div for responsive nav */
		display:none !important;
	}
	
	.sm-dev { /* class assigned to elements not to display on small devices */
		display:block;
	}
	
	.none {
		display:block;
	}
}

/* 6^ Medium Desktop Responsive Grid/Column Definitions */
/* 48em = 768px/16px;  74.937em = 1199px/16px */
@media all and (min-width:48em) and (max-width:74.937em){
	
	.col1, 
	.col2, 
	.col3, 
	.col4, 
	.col5, 
	.col6, 
	.col7, 
	.col8, 
	.col9, 
	.col10, 
	.col11, 
	.col12,
	.col-full {
		float: left;
	}
	
	.col12,
	.col-full {
		margin: 0;
	}
	
	.col1 { width: 6.382%; } /* 60px/940px */
	.col2 { width: 14.893%; } /* 140px/940px */
	.col3 { width: 23.404%; } /* 220px/940px */
	.col4 { width: 31.914%; } /* 300px/940px */
	.col5 { width: 40.425%; } /* 380px/940px */
	.col6 { width: 48.936%; } /* 460px/940px */
	.col7 { width: 57.446%; } /* 540px/940px */
	.col8 { width: 65.957%; } /* 620px/940px */
	.col9 { width: 74.468%; } /* 700px/940px */
	.col10 { width: 82.978%; } /* 780px/940px */
	.col11 { width: 91.489%; } /* 860px/940px */
}


/* 7^ Large Desktop Styles */
/* 75em = 1200px/16px */
@media all and (min-width:75em){
	.gridrow{
		max-width: 75em; /* 1200px/16px */
		padding:0px 1.25%; /* 15px/1200px */
	}
	
	.align_left {
		margin-right:2.564%; /* 30px/1200px */
	}
	.align_right {
		margin-left:2.564%; /* 30px/1200px */
	}

    #banner-image {
        margin-bottom:1.875em;
    }
	/* Responsive Grid/Column Definitions */
	
	.grid-container {
		padding: 0;
	}
	
	.gridrow  :last-child[class^="col"] {
		margin: 0 0 1.875em 0; /* 30px/16px */
	}
    .panel {
        padding:1.875em 2.564%;
    }
	.col1, 
	.col2, 
	.col3, 
	.col4, 
	.col5, 
	.col6, 
	.col7, 
	.col8, 
	.col9, 
	.col10, 
	.col11, 
	.col12,
	.col-full {
		float: left;
		margin: 0 2.564% 0 0; /* 30px/1170px */
	}
	
	.col1 { width: 5.982%; } /* 70px/1170px */
	.col2 { width: 14.529%; } /* 170px/1170px */
	.col3 { width: 23.076%; } /* 270px/1170px */
	.col4 { width: 31.623%; } /* 370px/1170px */
	.col5 { width: 40.17%; } /* 470px/1170px */
	.col6 { width: 48.717%; } /* 570px/1170px */
	.col7 { width: 57.264%; } /* 670px/1170px */
	.col8 { width: 65.811%; } /* 770px/1170px */
	.col9 { width: 74.358%; } /* 870px/1170px */
	.col10 { width: 82.905%; } /* 970px/1170px */
	.col11 { width: 91.452%; } /* 1070px/1170px */
	.col12 { width: 100%; margin: 0; }
}